In [2]:
import numpy as np
import pandas as pd
df_wine = pd.read_csv('https://archive.ics.uci.edu/'
                      'ml/machine-learning-databases/wine/wine.data',
                      header=None)

df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                   'Proline']

print('Class labels', np.unique(df_wine['Class label']))

df_wine.head()

Class labels [1 2 3]

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [9]:
from sklearn.model_selection import train_test_split
X=df_wine.iloc[:,1:]
y=df_wine.iloc[:,0]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

22     1
108    2
175    3
145    3
71     2
162    3
156    3
27     1
83     2
134    3
97     2
118    2
163    3
62     2
2      1
59     2
95     2
96     2
43     1
10     1
109    2
73     2
171    3
159    3
110    2
125    2
116    2
166    3
170    3
50     1
      ..
142    3
150    3
147    3
29     1
99     2
82     2
79     2
115    2
148    3
177    3
72     2
77     2
25     1
81     2
167    3
169    3
39     1
58     1
140    3
88     2
70     2
87     2
36     1
21     1
9      1
103    2
67     2
117    2
47     1
172    3
Name: Class label, Length: 124, dtype: int64